@use '@abraxas/voting-lib/style/color' as *;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-grey-3;
}

h1 {
  color: white;
}

/* Stylelint doesn't recognize the tag */
/* stylelint-disable-next-line */
ngx-extended-pdf-viewer {
  width: 100%;
  height: 100%;
}
