@if (url) {
  <ngx-extended-pdf-viewer [src]="url" [customToolbar]="toolbar"> </ngx-extended-pdf-viewer>
} @else {
  @if (loading) {
    <h2>
      <bc-spinner class="mr-1"></bc-spinner>
      {{ 'APP.LOADING' | translate }}
    </h2>
  } @else {
    <h2 translate>PREVIEW</h2>
  }
}

<ng-template #toolbar>
  <div id="toolbarViewer">
    <div id="toolbarViewerLeft">
      <pdf-paging-area></pdf-paging-area>
    </div>
    <pdf-zoom-toolbar></pdf-zoom-toolbar>
    <div id="toolbarViewerRight">
      <pdf-rotate-page></pdf-rotate-page>
      <pdf-download></pdf-download>
    </div>
  </div>
</ng-template>
