@use '../../../node_modules/normalize.css/normalize.css';
@use '@abraxas/voting-lib/style' as *;
@use './layout';
@use './overflow';
@use './color';
@use './sizing';
@use './font';
@use './table';
@use './display';
@use './flex';

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

bc-app-layout main {
  @extend .layout;
}

.pointer {
  cursor: pointer;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: $color-primary;
}

// This is a workaround. Remove after fixed height issue has been fixed in BC.
bc-checkbox,
bc-radio-button {
  min-height: auto !important;
}

// enable bc multiline hints on form fields.
.formfield .mat-mdc-form-field-subscript-wrapper {
  position: relative;
}

bc-dropdown .mat-mdc-form-field-type-mat-select.mat-form-field-appearance-outline.has-label {
  margin-top: 22px !important;
}
