<vo-lib-dialog [header]="'ATTACHMENT.UPDATE_DOMAIN_OF_INFLUENCE_ENTRIES.TITLE' | translate" (dialogClose)="done()">
  @if (!loading) {
    <div content class="m-2">
      @if (checkableDomainOfInfluences.length > 0) {
        <bc-table class="w-full" [dataSource]="checkableDomainOfInfluences">
          <ng-container columnDef="name">
            <th bc-header-cell *headerCellDef>{{ 'DOMAIN_OF_INFLUENCE.NAME' | translate }}</th>
            <td bc-data-cell *dataCellDef="let element">{{ element.item.name }}</td>
          </ng-container>
          <ng-container columnDef="approved">
            <th bc-header-cell *headerCellDef>{{ 'ATTACHMENT.UPDATE_DOMAIN_OF_INFLUENCE_ENTRIES.APPROVED' | translate }}</th>
            <td bc-data-cell *dataCellDef="let element">
              <bc-checkbox class="m-0 my-1" [(checked)]="element.checked" subscriptSizing="dynamic"></bc-checkbox>
            </td>
          </ng-container>
          <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
          <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
        </bc-table>
      } @else {
        <p>{{ 'APP.NO_DATA' | translate }}</p>
      }
    </div>
  } @else {
    <bc-spinner size="large"></bc-spinner>
  }

  <app-button-bar
    footer
    [saveLabel]="checkableDomainOfInfluences.length > 0 ? 'APP.SAVE' : 'APP.CLOSE'"
    [saving]="saving"
    [hasDeleteButton]="false"
    [hasCancelButton]="loading || checkableDomainOfInfluences.length > 0"
    (save)="save()"
    (cancelEvent)="done()"
  ></app-button-bar>
</vo-lib-dialog>
