<app-dialog>
  <h1 header translate>STEP_LAYOUT_VOTING_CARDS_POLITICAL_BUSINESS_ATTENDEE.EDIT_TEMPLATE_DATA</h1>

  <div content class="m-2">
    @for (brick of bricks; track brick) {
      <div class="brick-item mb-2">
        <p class="m-0">{{ brick.name }}</p>
        <bc-button variant="tertiary" [label]="'APP.EDIT' | translate" (buttonClick)="editBrick(brick)"></bc-button>
      </div>
    }
    @if (loading) {
      <bc-spinner></bc-spinner>
    } @else {
      @if (bricks.length === 0) {
        <p>{{ 'STEP_LAYOUT_VOTING_CARDS_POLITICAL_BUSINESS_ATTENDEE.NO_TEMPLATE_DATA' | translate }}</p>
      }
    }
  </div>

  <div footer>
    <app-button-bar [saveLabel]="'APP.CLOSE'" [hasDeleteButton]="false" (save)="close()" [hasCancelButton]="false"> </app-button-bar>
  </div>
</app-dialog>
