<ng-container *ngIf="!stepInfo.domainOfInfluence.externalPrintingCenter">
  <app-wizard-sidebar-info
    *ngIf="stepInfo.contest.domainOfInfluence && stepInfo.contest.domainOfInfluence.id !== stepInfo.domainOfInfluence.id"
    label="DOMAIN_OF_INFLUENCE.CONTEST_MANAGER_TITLE"
    [content]="stepInfo.contest.domainOfInfluence.authorityName"
  ></app-wizard-sidebar-info>
  <app-wizard-sidebar-info
    label="CONTEST.PRINTING_CENTER_SIGNUP_DEADLINE"
    [content]="
      !stepInfo.contest.printingCenterSignUpDeadlineDate
        ? ('CONTEST.DEADLINE_NOT_SET' | translate)
        : (stepInfo.contest.printingCenterSignUpDeadlineDate | date: 'dd.MM.yyyy')
    "
  ></app-wizard-sidebar-info>
  <app-wizard-sidebar-info
    label="CONTEST.GENERATE_VOTING_CARDS_DEADLINE"
    [content]="
      !stepInfo.contest.generateVotingCardsDeadlineDate
        ? ('CONTEST.DEADLINE_NOT_SET' | translate)
        : (stepInfo.contest.generateVotingCardsDeadlineDate | date: 'dd.MM.yyyy')
    "
  ></app-wizard-sidebar-info>
  <app-wizard-sidebar-info
    label="CONTEST.ATTACHMENT_DELIVERY_DEADLINE"
    [content]="
      !stepInfo.contest.attachmentDeliveryDeadlineDate
        ? ('CONTEST.DEADLINE_NOT_SET' | translate)
        : (stepInfo.contest.attachmentDeliveryDeadlineDate | date: 'dd.MM.yyyy')
    "
  ></app-wizard-sidebar-info>
</ng-container>

<app-wizard-sidebar-hint *ngIf="hint" [hint]="hint"></app-wizard-sidebar-hint>
<app-wizard-sidebar-warn *ngIf="warn" [warn]="warn"></app-wizard-sidebar-warn>

<ng-content></ng-content>
<div class="spacer"></div>

<bc-checkbox
  class="m-0 my-1 checkbox-break-text"
  *ngFor="let check of checks; let index = index"
  [disabled]="approveStateLoading || stepInfo.state.approved || !canApprove || stepInfo.contest.locked || !stepIsWithinContestDeadlines"
  [checked]="stepInfo.state.approved || checkStates[index]"
  (checkedChange)="updateChecked(index, $event)"
  [label]="check | translate"
></bc-checkbox>

<div class="mt-2">
  <ng-container *ngIf="!approveStateLoading; else spinner">
    <bc-button
      *ngIf="showApprove"
      (buttonClick)="stepInfo.state.approved = true; approve.emit()"
      [disabled]="
        !stepInfo.state.canApprove ||
        stepInfo.contest.locked ||
        !stepIsWithinContestDeadlines ||
        !canApprove ||
        stepInfo.state.approved ||
        checkStates.length !== checks.length ||
        !(checkStates | every)
      "
      [label]="'WIZARD.APPROVE_STEP' | translate"
    ></bc-button>
    <bc-button
      *ngIf="
        stepInfo.state.canRevert &&
        stepInfo.state.approved &&
        canRevert &&
        !stepInfo.contest.locked &&
        !stepInfo.contest.isPastPrintingCenterSignUpDeadline
      "
      variant="tertiary"
      (buttonClick)="revertStep()"
      [label]="'WIZARD.REVERT_STEP' | translate"
    ></bc-button>
  </ng-container>
</div>

<ng-template #spinner>
  <bc-spinner></bc-spinner>
</ng-template>
