<app-dialog>
  <h1 header translate>ATTACHMENT.DEFINE</h1>

  <div content class="m-2">
    <form #form="ngForm">
      <bc-text
        [label]="'ATTACHMENT.NAME' | translate"
        name="name"
        [required]="true"
        [hint]="'ATTACHMENT.NAME_HINT' | translate"
        [(ngModel)]="attachment.name"
        [subscriptSizing]="'dynamic'"
        [maxlength]="300"
        [disabled]="!canEdit"
      ></bc-text>

      <bc-radio-button-group
        class="mb-3"
        [items]="attachmentCategoryRadioButtons"
        name="category"
        [label]="'ATTACHMENT.CATEGORY' | translate"
        [required]="true"
        [(ngModel)]="attachment.category"
        orientation="vertical"
        subscriptSizing="dynamic"
        [disabled]="!canEdit"
      ></bc-radio-button-group>

      @if (!requireExplicitRequiredCount) {
        <bc-number
          [label]="'ATTACHMENT.ORDERED_COUNT' | translate"
          [min]="1"
          name="orderedCount"
          [required]="true"
          [(ngModel)]="attachment.orderedCount"
          [subscriptSizing]="'dynamic'"
          [disabled]="!canEdit"
        ></bc-number>
      }

      @if (requireExplicitRequiredCount) {
        <bc-number
          [label]="'ATTACHMENT.REQUIRED_COUNT' | translate"
          [min]="1"
          name="requiredCount"
          [required]="true"
          [(ngModel)]="attachment.domainOfInfluenceAttachmentRequiredCount"
          [subscriptSizing]="'dynamic'"
          [disabled]="!canEdit"
        ></bc-number>
      }

      <bc-radio-button-group
        class="mb-3"
        [items]="attachmentFormatRadioButtons"
        name="format"
        [label]="'ATTACHMENT.FORMAT' | translate"
        [required]="true"
        [ngModel]="attachment.format"
        (ngModelChange)="attachment.format = $event; updateFormatConsultationRequired()"
        subscriptSizing="dynamic"
        [disabled]="!canEdit"
      ></bc-radio-button-group>

      @if (formatConsultationRequired) {
        <div>
          <label>{{ 'ATTACHMENT.FORMAT_CONSULTATION_HINT' | translate }}</label>
          <bc-checkbox
            class="mt-1 mb-3"
            [(checked)]="formatConsultationChecked"
            [label]="'ATTACHMENT.FORMAT_CONSULTATION_CHECKED' | translate"
            subscriptSizing="dynamic"
            [disabled]="!canEdit"
          ></bc-checkbox>
        </div>
      }

      <bc-text
        [label]="'ATTACHMENT.COLOR' | translate"
        name="color"
        [hint]="'ATTACHMENT.COLOR_HINT' | translate"
        [(ngModel)]="attachment.color"
        [subscriptSizing]="'dynamic'"
        [disabled]="!canEdit"
      ></bc-text>

      <bc-text
        [label]="'ATTACHMENT.SUPPLIER' | translate"
        name="supplier"
        [hint]="'ATTACHMENT.SUPPLIER_HINT' | translate"
        [(ngModel)]="attachment.supplier"
        [required]="true"
        [subscriptSizing]="'dynamic'"
        [maxlength]="300"
        [disabled]="!canEdit"
      ></bc-text>

      <bc-date
        [label]="'ATTACHMENT.DELIVERY_PLANNED_ON' | translate"
        [value]="deliveryPlannedOn"
        (valueChange)="deliveryPlannedOn = $event; updateValidDeliveryDate()"
        [required]="true"
        [error]="!validDeliveryDate"
        [hint]="
          (!!deliveryPlannedOn && !validDeliveryDate
            ? 'ATTACHMENT.DELIVERY_PLANNED_ON_PAST_DEADLINE'
            : 'ATTACHMENT.DELIVERY_PLANNED_ON_HINT'
          ) | translate
        "
        [subscriptSizing]="'dynamic'"
        [disabled]="!canEdit"
      ></bc-date>

      @for (
        doiNameCheckablePoliticalBusinessesPair of doiNameCheckablePoliticalBusinessesPairs | keyvalue;
        track doiNameCheckablePoliticalBusinessesPair
      ) {
        <label class="mt-2">{{
          'ATTACHMENT.POLITICAL_BUSINESSES' | translate: { name: doiNameCheckablePoliticalBusinessesPair.key }
        }}</label>
        <bc-checkbox
          class="m-0 my-1"
          [indeterminate]="
            !doiNameCheckablePoliticalBusinessesPair.value.allChecked && doiNameCheckablePoliticalBusinessesPair.value.atLeastOneChecked
          "
          [checked]="doiNameCheckablePoliticalBusinessesPair.value.allChecked"
          (checkedChange)="
            doiNameCheckablePoliticalBusinessesPair.value.allChecked = $event; attachment.checkablePoliticalBusinesses.refreshState()
          "
          [label]="'VOTER_LIST.SELECT_ALL' | translate"
          subscriptSizing="dynamic"
          [disabled]="!canEdit"
        >
        </bc-checkbox>
        @for (checkablePoliticalBusiness of doiNameCheckablePoliticalBusinessesPair.value.items; track checkablePoliticalBusiness) {
          <bc-checkbox
            class="m-0 my-1"
            [checked]="checkablePoliticalBusiness.checked"
            (checkedChange)="
              doiNameCheckablePoliticalBusinessesPair.value.updateChecked(checkablePoliticalBusiness, $event);
              attachment.checkablePoliticalBusinesses.refreshState()
            "
            [label]="checkablePoliticalBusiness.item.shortDescription"
            subscriptSizing="dynamic"
            [disabled]="!canEdit"
          ></bc-checkbox>
        }
      }

      <label>{{ 'ATTACHMENT.SHIPPING_INSTRUCTIONS' | translate }}</label>
      <bc-checkbox
        class="m-0 my-1"
        [(checked)]="attachment.sendOnlyToHouseholder"
        [label]="'ATTACHMENT.SEND_ONLY_TO_HOUSEHOLDER' | translate"
        subscriptSizing="dynamic"
        [hint]="'ATTACHMENT.SEND_ONLY_TO_HOUSEHOLDER_HINT' | translate"
        [disabled]="!canEdit"
      ></bc-checkbox>
    </form>
  </div>

  <div footer>
    <app-button-bar
      deleteConfirmLabel="ATTACHMENT.DELETE_CONFIRM"
      [saving]="saving"
      [deleting]="deleting"
      [saveLabel]="canEdit ? 'APP.SAVE' : 'APP.CLOSE'"
      [canSave]="
        !canEdit ||
        (form.valid &&
          validDeliveryDate &&
          (attachment.checkablePoliticalBusinesses.atLeastOneChecked || isPoliticalAssembly) &&
          (!formatConsultationRequired || formatConsultationChecked))
      "
      [hasCancelButton]="canEdit"
      [hasDeleteButton]="!isNew && canEdit"
      (save)="canEdit ? save() : done()"
      (delete)="delete()"
      (cancelEvent)="done()"
    >
    </app-button-bar>
  </div>
</app-dialog>
