<bc-table selection class="w-full mt-1" [dataSource]="entries">
  <ng-container columnDef="category">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.CATEGORY' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      @if (!isAttachment(element)) {
        <span>{{ 'ATTACHMENT.CATEGORIES.' + element.category | translate }}</span>
      }
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="name">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.DOCUMENT' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.name }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="orderedCount">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.ORDERED_COUNT' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{
      (isAttachment(element) ? element.orderedCount : element.totalOrderedCount) | number
    }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="requiredCount">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.REQUIRED_COUNT' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{
      (isAttachment(element) ? element.domainOfInfluenceAttachmentRequiredCount : element.totalRequiredCount) | number
    }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="requiredForVoterListsCount">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.REQUIRED_FOR_VOTER_LISTS_COUNT' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      @if (showRequiredForVoterListsCount(element)) {
        <span>
          {{
            (isAttachment(element)
              ? element.domainOfInfluenceAttachmentRequiredForVoterListsCount
              : element.totalRequiredForVoterListsCount
            ) | number
          }}
        </span>
      }
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="color">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.COLOR' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.color }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="format">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.FORMAT' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      @if (isAttachment(element)) {
        <span>{{ 'ATTACHMENT.FORMATS.' + element.format | translate }}</span>
      }
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="supplier">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.SUPPLIER' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.supplier }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="deliveryPlannedOn">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.DELIVERY_PLANNED_ON' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.deliveryPlannedOn | date }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="deliveryReceivedOn">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.DELIVERY_RECEIVED_ON' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.deliveryReceivedOn | date }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="station">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.STATION' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.station }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="state">
    <bc-header-cell *headerCellDef>{{ 'ATTACHMENT.STATE' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      @if (isAttachment(element)) {
        <app-attachment-state [state]="element.state"></app-attachment-state>
      }
    </bc-data-cell>
  </ng-container>

  <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
  <bc-data-row
    *dataRowDef="let row; columns: columns; let i = index"
    selectionToggle
    [selectionToggleValue]="row"
    selectionRow
    [selectionRowValue]="row"
    [selectionDisabled]="isSelectionDisabled"
    (click)="open(row)"
  ></bc-data-row>
</bc-table>
