<app-dialog>
  <h1 header>{{ 'VOTER_LIST_IMPORT.UPLOAD_ECH_TITLE.STEP_' + step | translate }}</h1>

  <div content class="m-2">
    <app-voter-list-import-edit-form [voterListImport]="voterListImport" [(step)]="step">
      <bc-text
        [label]="'VOTER_LIST_IMPORT.NAME' | translate"
        name="name"
        [required]="true"
        [(ngModel)]="voterListImport.name"
        [subscriptSizing]="'dynamic'"
      ></bc-text>

      <bc-file-input
        accept=".xml"
        [multiple]="false"
        class="my-3"
        [label]="'VOTER_LIST_IMPORT.CHOOSE_FILE' | translate"
        (valueChange)="file = $event[0]"
      ></bc-file-input>

      <bc-date
        class="mb-2"
        [error]="!validLastUpdate"
        [label]="'VOTER_LIST_IMPORT.LAST_UPDATE' | translate"
        [hint]="'VOTER_LIST_IMPORT.LAST_UPDATE_HINT' | translate"
        [required]="true"
        [value]="lastUpdate"
        (valueChange)="updateLastUpdate($event)"
        [subscriptSizing]="'dynamic'"
      ></bc-date>
    </app-voter-list-import-edit-form>
  </div>

  <div footer>
    <app-button-bar
      deleteConfirmLabel="VOTER_LIST_IMPORT.DELETE_CONFIRM"
      [saving]="saving"
      [deleting]="deleting"
      [canSave]="!!voterListImport.name && validLastUpdate && (!isNew || !!file)"
      [hasDeleteButton]="!isNew && step === 1"
      [hasCancelButton]="step === 1"
      (save)="save()"
      [savingLabel]="step === 1 && !!file ? 'VOTER_LIST_IMPORT.IMPORTING' : ''"
      (delete)="delete()"
      (cancel)="cancel()"
    >
    </app-button-bar>
  </div>
</app-dialog>
