<div class="buttons" [class.sticky]="sticky">
  @if (hasCancelButton) {
    <bc-button (buttonClick)="cancelEvent.emit()" [label]="'APP.CANCEL' | translate"></bc-button>
  }

  @if (!deleting && !saving) {
    @if (hasDeleteButton && !deleting) {
      <bc-button color="warn" [disabled]="saving" (buttonClick)="deleteClick()" [label]="deleteLabel | translate"></bc-button>
    }
    @if (hasSaveButton) {
      <bc-button
        [disabled]="!canSave"
        [color]="saveColor"
        [variant]="saveVariant"
        (buttonClick)="save.emit()"
        [label]="saveLabel | translate"
      ></bc-button>
    }
  } @else {
    <div class="spinner-container">
      @if (savingLabel) {
        <span>{{ savingLabel | translate }}</span>
      }
      <bc-spinner></bc-spinner>
    </div>
  }
</div>
