<bc-table class="w-full" [dataSource]="politicalBusinesses">
  <ng-container columnDef="nr">
    <th bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.NR' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.politicalBusinessNumber }}</td>
  </ng-container>

  <ng-container columnDef="type">
    <th bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.TYPE' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ 'POLITICAL_BUSINESS.TYPES.' + element.politicalBusinessType | translate }}</td>
  </ng-container>

  <ng-container columnDef="doiName">
    <th bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.DOMAIN_OF_INFLUENCE' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.domainOfInfluence.name }}</td>
  </ng-container>

  <ng-container columnDef="shortDescription">
    <th bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.SHORT_DESCRIPTION' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.shortDescription }}</td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: ['nr', 'type', 'doiName', 'shortDescription']"></tr>
  <tr bc-data-row *dataRowDef="let row; columns: ['nr', 'type', 'doiName', 'shortDescription']; let i = index"></tr>
</bc-table>
