@use '@abraxas/voting-lib/style/spacing' as *;
@use '@abraxas/voting-lib/style/color' as *;
@use 'src/app/styles/layout';

:host {
  @extend .layout;
}

.title {
  display: flex;
  justify-content: space-between;

  h4 {
    margin-bottom: 0;
  }
}

.default-name {
  @extend .ml-1;
  @extend .my-1;

  display: block;
  font-size: 1rem;
}

.e-voting-hint {
  @extend .mt-3;

  color: $color-error;
  white-space: pre-line;
}
