<bc-table class="mt-1 mb-4" [dataSource]="jobs">
  <ng-container columnDef="vcType">
    <th bc-header-cell *headerCellDef>{{ 'VOTING_CARD_GENERATOR_JOB.VC_TYPE' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ 'VOTING_CARD_TYPES.' + element.votingCardType | translate }}</td>
  </ng-container>

  <ng-container columnDef="fileName">
    <th bc-header-cell *headerCellDef>{{ 'VOTING_CARD_GENERATOR_JOB.FILE_NAME' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.fileName }}</td>
  </ng-container>

  <ng-container columnDef="countOfVoters">
    <th bc-header-cell *headerCellDef>{{ 'VOTING_CARD_GENERATOR_JOB.COUNT_OF_VOTERS' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.countOfVoters | number }}</td>
  </ng-container>

  <ng-container columnDef="state">
    <th bc-header-cell *headerCellDef>{{ 'VOTING_CARD_GENERATOR_JOB.STATE' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">
      <app-voting-card-generator-job-state [state]="element.state"></app-voting-card-generator-job-state>
    </td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: ['fileName', 'vcType', 'countOfVoters', 'state']"></tr>
  <tr bc-data-row *dataRowDef="let row; columns: ['fileName', 'vcType', 'countOfVoters', 'state']; let i = index"></tr>
</bc-table>
