<bc-radio-button-group
  class="mb-3"
  [disabled]="!canEdit"
  [items]="[
    { value: 10, displayText: '10' },
    { value: 20, displayText: '20' },
    { value: 50, displayText: '50' },
  ]"
  name="format"
  [label]="'VOTING_CARD_CONFIGURATION.SAMPLE_COUNT' | translate"
  [required]="true"
  [ngModel]="votingCardConfiguration.sampleCount"
  (ngModelChange)="updateSampleCount($event)"
  subscriptSizing="dynamic"
></bc-radio-button-group>

@for (item of votingCardConfiguration.votingCardGroups; track item; let index = $index) {
  <div>
    <div class="group-sort-container">
      <bc-dropdown
        [label]="'VOTING_CARD_CONFIGURATION.GROUP' | translate: { number: index + 1 }"
        [items]="votingCardGroups"
        [value]="item"
        (valueChange)="groupChanged($event, index)"
        [disabled]="!canEdit"
        [error]="groupErrors[index]"
        valueExpr="value"
        displayExpr="description"
      ></bc-dropdown>
      @if (canEdit) {
        <bc-icon
          class="trash ml-2"
          [icon]="'trash'"
          (click)="removeGroup(index); $event.preventDefault(); $event.stopPropagation()"
        ></bc-icon>
      }
    </div>
  </div>
}

@if (canEdit && votingCardConfiguration.votingCardGroups.length < votingCardGroups.length) {
  <bc-button
    (buttonClick)="addGroup()"
    variant="tertiary"
    class="mb-3 block"
    [label]="'VOTING_CARD_CONFIGURATION.ADD_GROUP' | translate"
  ></bc-button>
}

@for (item of votingCardConfiguration.votingCardSorts; track item; let index = $index) {
  <div>
    <div class="group-sort-container">
      <bc-dropdown
        [label]="'VOTING_CARD_CONFIGURATION.SORT' | translate: { number: index + 1 }"
        [items]="votingCardSorts"
        [value]="item"
        (valueChange)="sortChanged($event, index)"
        [disabled]="!canEdit"
        [error]="sortErrors[index]"
        valueExpr="value"
        displayExpr="description"
      ></bc-dropdown>
      @if (canEdit) {
        <bc-icon
          class="trash ml-2"
          [icon]="'trash'"
          (click)="removeSort(index); $event.preventDefault(); $event.stopPropagation()"
        ></bc-icon>
      }
    </div>
  </div>
}

@if (canEdit && votingCardConfiguration.votingCardSorts.length < votingCardSorts.length) {
  <bc-button
    (buttonClick)="addSort()"
    variant="tertiary"
    class="mb-3 ml-0 block"
    [label]="'VOTING_CARD_CONFIGURATION.ADD_SORT' | translate"
  ></bc-button>
}
