<app-dialog>
  <h3 header translate>PRINT_JOB.SET_STATE.RESET_STATE.HEADER</h3>

  <div content class="m-2">
    <p>{{ 'PRINT_JOB.SET_STATE.RESET_STATE.TEXT' | translate }} '{{ 'PRINT_JOB.STATES.' + (printJob.state - 1) | translate }}'</p>
  </div>

  <div footer>
    <app-button-bar
      [saving]="saving"
      [hasDeleteButton]="false"
      saveColor="warn"
      saveVariant="secondary"
      (save)="save()"
      (cancel)="done()"
      [saveLabel]="'PRINT_JOB.SET_STATE.RESET_STATE.INVOKE' | translate"
    ></app-button-bar>
  </div>
</app-dialog>
