<h1 class="layout-header layout-center pb-1 pt-4" translate>STEP_VOTER_LISTS.TITLE</h1>
<div class="layout-start-content layout-end-footer layout-center overflow-auto pr-3">
  @if (!loading) {
    <app-voter-list-table
      [domainOfInfluenceVoterLists]="voterLists"
      [stepInfo]="stepInfo"
      [canEdit]="canEdit"
      (voterListsChange)="handleVoterListsChange()"
      (politicalBusinessNumberOfVotersChange)="refreshWarn()"
    ></app-voter-list-table>
    @if (!!voterLists && voterLists.totalNumberOfVoters === 0 && !canEdit) {
      <p class="italic" translate>VOTER_LIST.NO_DATA</p>
    }
  } @else {
    <bc-spinner size="large"></bc-spinner>
  }
</div>

<app-wizard-sidebar
  class="layout-right"
  [stepInfo]="stepInfo"
  [checks]="isElectoralRegistrationEnabled ? ['STEP_VOTER_LISTS.CHECK_ELECTORAL_REGISTRATION'] : ['STEP_VOTER_LISTS.CHECK']"
  [approveStateLoading]="approveLoading"
  [canApprove]="
    !!stepInfo && !!voterLists && voterLists.voterLists.length - (stepInfo.domainOfInfluence.countOfEmptyVotingCards > 0 ? 1 : 0) > 0
  "
  [canRevert]="true"
  (approve)="approve()"
  (revert)="revert()"
  [hint]="
    isElectoralRegistrationEnabled
      ? !!stepInfo && isEVotingDomainOfInfluence && stepInfo.contest.electoralRegisterEVotingActive === false
        ? electoralRegisterEVotingNotActiveHint
        : 'STEP_VOTER_LISTS.HINT_ELECTORAL_REGISTRATION'
      : 'STEP_VOTER_LISTS.HINT'
  "
  [warn]="showMissingAttachmentsWarn ? 'STEP_VOTER_LISTS.ATTACHMENTS_WARN' : ''"
>
</app-wizard-sidebar>
