@use 'src/app/styles/layout';

:host {
  @extend .layout;
}

div.buttons {
  display: flex;
  align-items: center;

  &.align-right {
    flex-direction: row-reverse;
  }
}

p.header {
  font-weight: bold;
  font-size: 0.8rem;
}
