<app-dialog>
  <h1 header translate>ADDITIONAL_INVOICE_POSITION.DEFINE</h1>

  <div content class="m-2">
    <form #form="ngForm">
      <bc-dropdown
        [label]="'ADDITIONAL_INVOICE_POSITION.DOMAIN_OF_INFLUENCE' | translate"
        name="domainOfInfluence"
        class="full-width"
        [items]="domainOfInfluences"
        displayExpr="name"
        [required]="true"
        [(ngModel)]="additionalInvoicePosition.domainOfInfluence"
      ></bc-dropdown>

      <bc-dropdown
        [label]="'ADDITIONAL_INVOICE_POSITION.MATERIAL' | translate"
        name="material"
        class="full-width"
        [items]="availableMaterials"
        displayExpr="displayText"
        valueExpr="number"
        [required]="true"
        [ngModel]="additionalInvoicePosition.materialNumber"
        (ngModelChange)="updateMaterialNumber($event)"
      ></bc-dropdown>

      <bc-number
        [label]="'ADDITIONAL_INVOICE_POSITION.AMOUNT' | translate"
        name="amount"
        [required]="true"
        [ngModel]="additionalInvoicePosition.amount"
        (ngModelChange)="additionalInvoicePosition.amount = $event; updateValidAmount()"
        [min]="0"
        [precision]="2"
        [error]="!validAmount"
      ></bc-number>

      <bc-text
        *ngIf="showComment"
        [required]="true"
        [label]="'ADDITIONAL_INVOICE_POSITION.COMMENT' | translate"
        name="comment"
        [(ngModel)]="additionalInvoicePosition.comment"
        [subscriptSizing]="'dynamic'"
      ></bc-text>
    </form>
  </div>

  <div footer>
    <app-button-bar
      deleteConfirmLabel="ADDITIONAL_INVOICE_POSITION.DELETE_CONFIRM"
      [saving]="saving"
      [deleting]="deleting"
      [canSave]="form.valid && validAmount"
      [hasDeleteButton]="!isNew"
      (save)="save()"
      (delete)="delete()"
      (cancelEvent)="done()"
    >
    </app-button-bar>
  </div>
</app-dialog>
