@if (step === 1) {
  <ng-content></ng-content>
} @else {
  @if (!voterListImportError) {
    <app-voter-lists-update-step
      [voterLists]="voterListImport.voterLists"
      [voterListSource]="voterListImport.source"
      [autoSendVotingCardsToDomainOfInfluenceReturnAddressSplit]="voterListImport.autoSendVotingCardsToDomainOfInfluenceReturnAddressSplit"
      [electoralRegisterMultipleEnabled]="electoralRegisterMultipleEnabled"
    ></app-voter-lists-update-step>
  } @else {
    <app-voter-duplicate-table
      [voterDuplicates]="voterListImportError?.voterDuplicates"
      [voterDuplicatesCount]="voterListImportError?.voterDuplicatesCount"
    ></app-voter-duplicate-table>
  }
}
