<form>
  @for (voterList of voterLists; track voterList) {
    <div class="mb-4">
      <h2 class="mb-3">{{ 'VOTING_CARD_TYPES.' + voterList.votingCardType | translate }}</h2>
      <app-voter-list-edit-form
        [voterList]="voterList"
        [electoralRegisterMultipleEnabled]="electoralRegisterMultipleEnabled"
        [autoSendVotingCardsToDomainOfInfluenceReturnAddressSplit]="autoSendVotingCardsToDomainOfInfluenceReturnAddressSplit"
      ></app-voter-list-edit-form>
    </div>
  }
</form>
