@if (stepStates.length > 0) {
  <bc-big-stepper
    direction="horizontal"
    (selectionChange)="showStep($event.selectedIndex)"
    [selectedIndex]="selectedIndex"
    [sequential]="true"
  >
    @for (stepState of stepStates; track stepState; let index = $index) {
      <bc-big-step
        [status]="stepState.progressState"
        [statusText]="'WIZARD.STEP_STATES.' + stepState.progressState | translate"
        [disabled]="stepState.disabled"
        [label]="'WIZARD.STEPS.' + stepState.step | translate: { number: index + 1 }"
      ></bc-big-step>
    }
  </bc-big-stepper>
}
