<h1 class="layout-header layout-center pb-1 pt-4" translate>STEP_VOTING_JOURNAL.TITLE</h1>
<div class="layout-start-content layout-end-footer layout-center overflow-auto pr-3">
  <div class="download-container">
    <bc-card *ngFor="let downloadItem of downloadItems" class="download-item">
      <h2>{{ downloadItem.title | translate }}</h2>
      <bc-button
        *ngIf="!downloadItem.generating; else spinner"
        [label]="'VOTING_JOURNAL.EXPORT' | translate"
        (buttonClick)="generateExport(downloadItem)"
        variant="primary"
      ></bc-button>
    </bc-card>
  </div>
</div>

<app-wizard-sidebar
  *ngIf="stepInfo"
  class="layout-right"
  [stepInfo]="stepInfo"
  [canApprove]="false"
  [canRevert]="false"
  [showApprove]="false"
  [hint]="
    'STEP_VOTING_JOURNAL.HINT'
      | translate
        : {
            lastVoterUpdate:
              ((domainOfInfluence && domainOfInfluence.lastVoterUpdate ? domainOfInfluence.lastVoterUpdate : defaultLastVoterUpdate)
              | date: 'dd.MM.yyyy HH:mm'),
            contestDate: (stepInfo.contest.date | date: 'dd.MM.yyyy')
          }
  "
>
</app-wizard-sidebar>

<ng-template #spinner>
  <bc-spinner></bc-spinner>
</ng-template>
