@if (theme) {
  <bc-app-layout>
    <div class="layout-header">
      @if (hasTenant) {
        <bc-app-header-bar-iam
          [link]="['/', theme]"
          [title]="appTitle"
          (tenantChanged)="reload()"
          [customLogoPath]="customLogo ?? ''"
          logo="VO"
        >
          <vo-lib-environment-chip></vo-lib-environment-chip>
        </bc-app-header-bar-iam>
      } @else {
        <bc-app-header-bar [link]="['/', theme]" [title]="appTitle" logo="VO"></bc-app-header-bar>
      }
      <app-breadcrumb-bar></app-breadcrumb-bar>
    </div>
    <div class="layout-start-content layout-end-footer">
      @if (!loading && hasTenant) {
        <router-outlet></router-outlet>
      } @else {
        @if (!loading) {
          <div class="no-permissions-container">
            <p translate>APP.NO_PERMISSIONS</p>
            <div>
              <bc-button (buttonClick)="reload()" [label]="'APP.RELOAD' | translate"></bc-button>
              <bc-button class="ml-2" (buttonClick)="logout()" [label]="'APP.LOGOUT' | translate"></bc-button>
            </div>
          </div>
        } @else {
          <div class="spinner-container">
            <bc-spinner size="large"></bc-spinner>
          </div>
        }
      }
    </div>
  </bc-app-layout>
}
<bc-snackbar #snackbar horizontalPosition="right" verticalPosition="top" [action]="'APP.CLOSE' | translate"></bc-snackbar>
