<bc-button (click)="export()" [label]="'E_VOTING.EXPORT_DOMAIN_OF_INFLUENCE.EXPORT' | translate"></bc-button>
<bc-table
  filter
  (filterChange)="onFilterChange($event)"
  sort
  [sortMultiple]="true"
  (sortChange)="onSortChange($event)"
  [dataSource]="dataSource"
  class="w-full"
>
  <ng-container [columnDef]="columns.EVOTING_READY">
    <bc-header-cell filter sort *headerCellDef>
      {{ 'E_VOTING.DOMAIN_OF_INFLUENCE.READY' | translate }}
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-domain-of-influence-e-voting-ready [ready]="element[columns.EVOTING_READY]"></app-domain-of-influence-e-voting-ready>
    </bc-data-cell>
  </ng-container>

  <ng-container [columnDef]="columns.NAME">
    <bc-header-cell filter sort *headerCellDef>
      {{ 'E_VOTING.DOMAIN_OF_INFLUENCE.NAME' | translate }}
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      {{ element[columns.NAME] }}
    </bc-data-cell>
  </ng-container>

  <ng-container [columnDef]="columns.PARENT_POLITICAL_BUSINESSES_COUNT">
    <bc-header-cell filter sort *headerCellDef>
      {{ 'E_VOTING.DOMAIN_OF_INFLUENCE.PARENT_POLITICAL_BUSINESSES_COUNT' | translate }}
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      {{ element[columns.PARENT_POLITICAL_BUSINESSES_COUNT] }}
    </bc-data-cell>
  </ng-container>

  <ng-container [columnDef]="columns.OWN_POLITICAL_BUSINESSES_COUNT">
    <bc-header-cell filter sort *headerCellDef>
      {{ 'E_VOTING.DOMAIN_OF_INFLUENCE.OWN_POLITICAL_BUSINESSES_COUNT' | translate }}
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      {{ element[columns.OWN_POLITICAL_BUSINESSES_COUNT] | number }}
    </bc-data-cell>
  </ng-container>

  <ng-container [columnDef]="columns.NUMBER_OF_EVOTERS">
    <bc-header-cell filter sort *headerCellDef>
      {{ 'E_VOTING.DOMAIN_OF_INFLUENCE.NUMBER_OF_E_VOTERS' | translate }}
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      {{ element[columns.NUMBER_OF_EVOTERS] | number }}
    </bc-data-cell>
  </ng-container>

  <bc-header-row *headerRowDef="let row; columns: columnsToDisplay"></bc-header-row>
  <bc-data-row *dataRowDef="let row; columns: columnsToDisplay" [class.hidden]="row.isHidden"></bc-data-row>
</bc-table>
