<app-dialog>
  <h1 header>{{ 'STEP_LAYOUT_VOTING_CARDS_POLITICAL_BUSINESS_ATTENDEE.EDIT_SINGLE_TEMPLATE_DATA' | translate: brick }}</h1>

  <div content class="m-2">
    <ng-container *ngIf="!!brickEditSrc">
      <iframe #editorIframe [src]="brickEditSrc"></iframe>
    </ng-container>

    <bc-spinner *ngIf="loading"></bc-spinner>
  </div>

  <div footer>
    <app-button-bar [saving]="saving" [hasDeleteButton]="false" (save)="save()" (cancel)="close()"> </app-button-bar>
  </div>
</app-dialog>
