<h1 class="layout-header layout-center pb-1 pt-4" translate>POLITICAL_BUSINESS.TITLE</h1>
<div class="layout-start-content layout-end-footer layout-center overflow-auto pr-3">
  <ng-container *ngIf="!loading; else spinner">
    <div class="political-business-group" *ngFor="let typePoliticalBusinessPair of politicalBusinesses | keyvalue">
      <div class="table-header">
        <p class="table-title">{{ 'POLITICAL_BUSINESS.TITLE' | translate }} {{ typePoliticalBusinessPair.key }}</p>
        <p *ngIf="typePoliticalBusinessPair.value | every: 'approved'" class="table-title-all-approved" translate>
          STEP_POLITICAL_BUSINESS_APPROVAL.ALL_APPROVED
        </p>
      </div>
      <app-political-business-table [politicalBusinesses]="typePoliticalBusinessPair.value"></app-political-business-table>
    </div>
  </ng-container>
</div>

<app-wizard-sidebar
  class="layout-right"
  [stepInfo]="stepInfo"
  [checks]="[check]"
  [approveStateLoading]="approveLoading"
  [canApprove]="true"
  [canRevert]="true"
  (approve)="approve()"
  (revert)="revert()"
  hint="STEP_POLITICAL_BUSINESS_APPROVAL.HINT"
>
</app-wizard-sidebar>

<ng-template #spinner>
  <bc-spinner size="large"></bc-spinner>
</ng-template>
