<h1 class="layout-header layout-center pb-1 pt-4" translate>POLITICAL_BUSINESS.TITLE</h1>
<div class="layout-start-content layout-end-footer layout-center overflow-auto pr-3">
  @if (!loading) {
    @for (typePoliticalBusinessPair of politicalBusinesses | keyvalue; track typePoliticalBusinessPair) {
      <div class="political-business-group">
        <div class="table-header">
          <p class="table-title">{{ 'POLITICAL_BUSINESS.TITLE' | translate }} {{ typePoliticalBusinessPair.key }}</p>
          @if (typePoliticalBusinessPair.value | every: 'approved') {
            <p class="table-title-all-approved" translate>STEP_POLITICAL_BUSINESS_APPROVAL.ALL_APPROVED</p>
          }
        </div>
        <app-political-business-table [politicalBusinesses]="typePoliticalBusinessPair.value"></app-political-business-table>
      </div>
    }
  } @else {
    <bc-spinner size="large"></bc-spinner>
  }
</div>

<app-wizard-sidebar
  class="layout-right"
  [stepInfo]="stepInfo"
  [checks]="[check]"
  [approveStateLoading]="approveLoading"
  [canApprove]="true"
  [canRevert]="true"
  (approve)="approve()"
  (revert)="revert()"
  hint="STEP_POLITICAL_BUSINESS_APPROVAL.HINT"
>
</app-wizard-sidebar>
