<bc-table class="mt-1 mb-4" [dataSource]="jobs">
  <ng-container columnDef="fileName">
    <th bc-header-cell *headerCellDef>{{ 'VOTING_CARD_PRINT_FILE_EXPORT_JOB.FILE_NAME' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.fileName }}</td>
  </ng-container>

  <ng-container columnDef="state">
    <th bc-header-cell *headerCellDef>{{ 'VOTING_CARD_PRINT_FILE_EXPORT_JOB.STATE' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">
      <app-export-job-state [state]="element.state"></app-export-job-state>
    </td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
  <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
</bc-table>
