<vo-lib-dialog [header]="'VOTER_LIST.EMPTY_VOTING_CARDS.TITLE' | translate" (dialogClose)="done()">
  <div content class="m-2">
    <form #form="ngForm">
      <p>{{ 'VOTER_LIST.EMPTY_VOTING_CARDS.DESCRIPTION' | translate }}</p>

      <bc-number
        [label]="'VOTER_LIST.EMPTY_VOTING_CARDS.COUNT' | translate"
        name="amount"
        [required]="true"
        [(ngModel)]="countOfEmptyVotingCards"
        [min]="0"
        [max]="100000"
      ></bc-number>
    </form>
  </div>

  <app-button-bar
    footer
    [saving]="saving"
    [canSave]="!!form.valid"
    [hasDeleteButton]="false"
    (save)="save()"
    (cancelEvent)="done()"
  ></app-button-bar>
</vo-lib-dialog>
