@if (voterDuplicates && voterDuplicates.length > 0) {
  <p class="color-warning pre-wrap">{{ 'VOTER_LIST_IMPORT.HAS_VOTER_DUPLICATES' | translate }}</p>
  <bc-table class="w-full" [dataSource]="voterDuplicates" class="mb-4">
    <ng-container columnDef="firstName">
      <th bc-header-cell *headerCellDef>{{ 'VOTER.FIRST_NAME' | translate }}</th>
      <td bc-data-cell *dataCellDef="let element">{{ element.firstName }}</td>
    </ng-container>
    <ng-container columnDef="lastName">
      <th bc-header-cell *headerCellDef>{{ 'VOTER.LAST_NAME' | translate }}</th>
      <td bc-data-cell *dataCellDef="let element">{{ element.lastName }}</td>
    </ng-container>
    <ng-container columnDef="dateOfBirth">
      <th bc-header-cell *headerCellDef>{{ 'VOTER.DATE_OF_BIRTH' | translate }}</th>
      <td bc-data-cell *dataCellDef="let element">{{ element.dateOfBirth }}</td>
    </ng-container>
    <ng-container columnDef="street">
      <th bc-header-cell *headerCellDef>{{ 'VOTER.STREET' | translate }}</th>
      <td bc-data-cell *dataCellDef="let element">{{ element.street }}</td>
    </ng-container>
    <ng-container columnDef="houseNumber">
      <th bc-header-cell *headerCellDef>{{ 'VOTER.HOUSE_NUMBER' | translate }}</th>
      <td bc-data-cell *dataCellDef="let element">{{ element.houseNumber }}</td>
    </ng-container>
    <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
    <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
  </bc-table>
} @else {
  @if (voterDuplicatesCount) {
    <p class="color-warning pre-wrap">
      {{
        'VOTER_LIST_IMPORT.HAS_VOTER_DUPLICATES_COUNT'
          | translate
            : {
                count: voterDuplicatesCount | number,
              }
      }}
    </p>
  }
}
